openapi: 3.0.1
info:
  title: Quick Create Service for DaaS Quick Deploy with AWS WorkSpaces Core - Tech
    Preview
  version: DaaSTechPreview
servers:
- url: https://api.cloud.com/quickcreateservice
security:
- CWSAuth: []
paths:
  /{customerId}/accounts:
    get:
      operationId: GetCustomerAccountsAsync
      parameters:
      - description: ID of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - description: Account Type
        explode: true
        in: query
        name: accountType
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/AccountType'
        style: form
      - description: "If true, checks if all accounts have the required set of permissions\
          \ for assume role tasks"
        explode: true
        in: query
        name: fetchDetails
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: The Transaction Id.
        explode: false
        in: header
        name: Citrix-TransactionId
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accounts'
          description: Success
        "400":
          description: Bad Request
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Unauthorized
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          description: Forbidden
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: Not Found
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Internal Server Error
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
      summary: Get the accounts configured for the specified customer
      tags:
      - Account
    post:
      operationId: AddAccountAsync
      parameters:
      - description: ID of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - description: The Transaction Id.
        explode: false
        in: header
        name: Citrix-TransactionId
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/customerId_accounts_body'
          application/json:
            schema:
              $ref: '#/components/schemas/customerId_accounts_body'
          text/json:
            schema:
              $ref: '#/components/schemas/customerId_accounts_body'
          application/*+json:
            schema:
              $ref: '#/components/schemas/customerId_accounts_body'
        description: Configuration of the account to add
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_201'
          description: Created
        "400":
          description: Bad Request
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Unauthorized
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          description: Forbidden
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: Not Found
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Internal Server Error
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
      summary: Add a account
      tags:
      - Account
  /{customerId}/accounts/{accountId}:
    delete:
      operationId: DeleteCustomerAccountAsync
      parameters:
      - description: ID of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: The Transaction Id.
        explode: false
        in: header
        name: Citrix-TransactionId
        required: false
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Unauthorized
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          description: Forbidden
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: Not Found
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Internal Server Error
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
      summary: Deletes the account configured for the specified customer
      tags:
      - Account
    get:
      operationId: GetCustomerAccountAsync
      parameters:
      - description: ID of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: The Transaction Id.
        explode: false
        in: header
        name: Citrix-TransactionId
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_201'
          description: Success
        "400":
          description: Bad Request
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Unauthorized
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          description: Forbidden
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: Not Found
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Internal Server Error
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
      summary: Get the account configured for the specified customer
      tags:
      - Account
    patch:
      operationId: UpdateCustomerAccountAsync
      parameters:
      - description: ID of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: The Transaction Id.
        explode: false
        in: header
        name: Citrix-TransactionId
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerAccountAsync_request'
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerAccountAsync_request'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerAccountAsync_request'
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerAccountAsync_request'
        description: Configuration of the account to update
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Unauthorized
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          description: Forbidden
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: Not Found
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Internal Server Error
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
      summary: Updates the account access keys for the specified customer
      tags:
      - Account
  /{customerId}/accounts/{accountId}/tasks:
    post:
      operationId: InititateAccountTaskAsync
      parameters:
      - description: ID of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: The Transaction Id.
        explode: false
        in: header
        name: Citrix-TransactionId
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/accountId_tasks_body'
          application/json:
            schema:
              $ref: '#/components/schemas/accountId_tasks_body'
          text/json:
            schema:
              $ref: '#/components/schemas/accountId_tasks_body'
          application/*+json:
            schema:
              $ref: '#/components/schemas/accountId_tasks_body'
        description: Task request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: Success
        "400":
          description: Bad Request
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Unauthorized
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          description: Forbidden
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: Not Found
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Internal Server Error
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
      summary: Registers account BYOL account
      tags:
      - Account
  /{customerId}/accounts/{accountId}/tasks/{taskId}:
    get:
      operationId: GetCustomerAccountTaskAsync
      parameters:
      - description: ID of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of task
        explode: false
        in: path
        name: taskId
        required: true
        schema:
          type: string
        style: simple
      - description: The Transaction Id.
        explode: false
        in: header
        name: Citrix-TransactionId
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCustomerAccountTaskAsync_200_response'
          description: Success
        "400":
          description: Bad Request
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Unauthorized
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          description: Forbidden
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: Not Found
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Internal Server Error
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
      summary: Gets account task
      tags:
      - Account
  /{customerId}/accounts/resources/$search:
    post:
      operationId: GetCustomerAccountResourcesAsync
      parameters:
      - description: ID of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - description: The Transaction Id.
        explode: false
        in: header
        name: Citrix-TransactionId
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/resources_search_body'
          application/json:
            schema:
              $ref: '#/components/schemas/resources_search_body'
          text/json:
            schema:
              $ref: '#/components/schemas/resources_search_body'
          application/*+json:
            schema:
              $ref: '#/components/schemas/resources_search_body'
        description: Search request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResources'
          description: Success
        "400":
          description: Bad Request
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Unauthorized
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          description: Forbidden
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: Not Found
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Internal Server Error
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
      summary: Get the account resources for the specified customer
      tags:
      - Account
  /{customerId}/accounts/{accountId}/resources/$search:
    post:
      operationId: GetAccountResourcesAsync
      parameters:
      - description: ID of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: The Transaction Id.
        explode: false
        in: header
        name: Citrix-TransactionId
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/resources_search_body'
          application/json:
            schema:
              $ref: '#/components/schemas/resources_search_body'
          text/json:
            schema:
              $ref: '#/components/schemas/resources_search_body'
          application/*+json:
            schema:
              $ref: '#/components/schemas/resources_search_body'
        description: Search request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResources'
          description: Success
        "400":
          description: Bad Request
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Unauthorized
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          description: Forbidden
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: Not Found
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Internal Server Error
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
      summary: Get the account resources for the specified customer
      tags:
      - Account
  /{customerId}/accounts/{accountId}/connections/{connectionId}:
    delete:
      operationId: RemoveResourceConnectionAsync
      parameters:
      - description: ID of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of connection
        explode: false
        in: path
        name: connectionId
        required: true
        schema:
          type: string
        style: simple
      - description: Force delete a connection
        explode: true
        in: query
        name: forceDelete
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: The Transaction Id.
        explode: false
        in: header
        name: Citrix-TransactionId
        required: false
        schema:
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceConnectionTask'
          description: Accepted
        "400":
          description: Bad Request
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Unauthorized
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          description: Forbidden
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: Not Found
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Internal Server Error
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
      summary: Removes connection
      tags:
      - Connection
    get:
      operationId: GetResourceConnectionAsync
      parameters:
      - description: ID of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of connection
        explode: false
        in: path
        name: connectionId
        required: true
        schema:
          type: string
        style: simple
      - description: The Transaction Id.
        explode: false
        in: header
        name: Citrix-TransactionId
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
          description: Success
        "400":
          description: Bad Request
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Unauthorized
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          description: Forbidden
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: Not Found
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Internal Server Error
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
      summary: Gets resource connection
      tags:
      - Connection
    patch:
      operationId: ModifyResourceConnectionAsync
      parameters:
      - description: ID of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of connection
        explode: false
        in: path
        name: connectionId
        required: true
        schema:
          type: string
        style: simple
      - description: The Transaction Id.
        explode: false
        in: header
        name: Citrix-TransactionId
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/connections_connectionId_body'
          application/json:
            schema:
              $ref: '#/components/schemas/connections_connectionId_body'
          text/json:
            schema:
              $ref: '#/components/schemas/connections_connectionId_body'
          application/*+json:
            schema:
              $ref: '#/components/schemas/connections_connectionId_body'
        description: Update configuration
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
          description: Success
        "400":
          description: Bad Request
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Unauthorized
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          description: Forbidden
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: Not Found
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Internal Server Error
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
      summary: Modifies connection
      tags:
      - Connection
  /{customerId}/accounts/{accountId}/connections:
    get:
      operationId: GetResourceConnectionsAsync
      parameters:
      - description: ID of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: citrix managed connections
        explode: true
        in: query
        name: citrixManaged
        required: false
        schema:
          type: boolean
        style: form
      - description: The Transaction Id.
        explode: false
        in: header
        name: Citrix-TransactionId
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceConnections'
          description: Success
        "400":
          description: Bad Request
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Unauthorized
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          description: Forbidden
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: Not Found
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Internal Server Error
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
      summary: Gets resource connections
      tags:
      - Connection
  /{customerId}/connections:
    get:
      operationId: GetAllResourceConnectionsAsync
      parameters:
      - description: ID of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - description: Filtering parameter for account type
        explode: true
        in: query
        name: accountType
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/AccountType'
        style: form
      - description: The Transaction Id.
        explode: false
        in: header
        name: Citrix-TransactionId
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceConnections'
          description: Success
        "400":
          description: Bad Request
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Unauthorized
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          description: Forbidden
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: Not Found
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Internal Server Error
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              schema:
                type: string
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              schema:
                type: string
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              schema:
                type: string
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              schema:
                type: string
              style: simple
      summary: Gets all resource connections without specifying account
      tags:
      - Connection
  /{customerId}/accounts/{accountId}/connections/$initiate:
    post:
      operationId: AddResourceConnectionAsync
      parameters:
      - description: ID of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: The Transaction Id.
        explode: false
        in: header
        name: Citrix-TransactionId
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/connections_initiate_body'
          application/json:
            schema:
              $ref: '#/components/schemas/connections_initiate_body'
          text/json:
            schema:
              $ref: '#/components/schemas/connections_initiate_body'
          application/*+json:
            schema:
              $ref: '#/components/schemas/connections_initiate_body'
        description: Connection configuration
      responses:
[...]
