openapi: 3.0.1
info:
  description: Describes API used by Global App Config Admin Service
  termsOfService: https://developer.cloud.com/citrix-developer-terms-of-use
  title: Global App Config Admin
  version: "1.0"
servers:
- url: https://wsaca.cloud.com/
tags:
- description: Access discovery records for an app.
  name: DiscoveryController
- description: Access settings records for an app.
  name: SettingsController
paths:
  /aca/discovery:
    get:
      deprecated: false
      operationId: getAllDiscoveryApiUsingGET
      parameters:
      - description: Only "application/json" is supported.
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          type: string
      - description: Valid Citrix Cloud Authorization header.
        example: CWSAuth bearer="<bearer_token>"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Citrix Cloud Customer ID.
        in: header
        name: Citrix-CustomerId
        required: true
        schema:
          type: string
      - description: Transaction ID that will be used to track this request.
        in: header
        name: Citrix-TransactionId
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllDiscoveryResponse'
          description: Success.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            Etag:
              description: The API response will have Etag header
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Vary:
              description: The API response will have Vary header
              schema:
                type: string
            Expires:
              description: The API response will have Expires header
              schema:
                type: string
            Last-Modified:
              description: The API response will have Last-Modified header
              schema:
                type: string
            cache-control:
              description: The API response will have CACHE_CONTROL header
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: The requested customer id is invalid.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Unauthorized request.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Forbidden request.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: The requested customer id is not found.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            Etag:
              description: The API response will have Etag header
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Vary:
              description: The API response will have Vary header
              schema:
                type: string
            Expires:
              description: The API response will have Expires header
              schema:
                type: string
            Last-Modified:
              description: The API response will have Last-Modified header
              schema:
                type: string
            cache-control:
              description: The API response will have CACHE_CONTROL header
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Only accepts application/json and UTF-8 Charset
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: The caller has overloaded the service and is being rate-limited.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Service is unavailable at this time.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
      security:
      - BearerTokenAuth: []
      summary: Retrieve All Discovery Records For The Specified Customer Id
      tags:
      - DiscoveryController
  /aca/discovery/app/{app}/domain:
    post:
      deprecated: false
      operationId: postDiscoveryApiUsingPOST
      parameters:
      - description: Only "application/json" is supported.
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          type: string
      - description: Valid Citrix Cloud Authorization header.
        example: CWSAuth bearer="<bearer_token>"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Citrix Cloud Customer ID.
        in: header
        name: Citrix-CustomerId
        required: true
        schema:
          type: string
      - description: Transaction ID that will be used to track this request.
        in: header
        name: Citrix-TransactionId
        schema:
          type: string
      - description: "App Name. ['Workspace']"
        in: path
        name: app
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiscoveryRecordModel'
        description: Discovery record to be created.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscoveryRecordModel'
          description: Created.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
            Location:
              description: URI of the created resource.
              schema:
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: The specified Discovery record/Customer ID is invalid.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Unauthorized request.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Forbidden request.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Only accepts UTF-8 Charset
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: The specified document/part of the document already exists.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Request body is unacceptable.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: The caller has overloaded the server and is being rate-limited.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: The service is unavailable at this time.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
      security:
      - BearerTokenAuth: []
      summary: Create A New Discovery Record.
      tags:
      - DiscoveryController
      x-codegen-request-body-name: discoveryRecord
  /aca/discovery/app/{app}/domain/{domain}:
    delete:
      deprecated: false
      operationId: deleteDiscoveryApiUsingDELETE
      parameters:
      - description: Only "application/json" is supported.
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          type: string
      - description: Valid Citrix Cloud Authorization header.
        example: CWSAuth bearer="<bearer_token>"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Citrix Cloud Customer ID.
        in: header
        name: Citrix-CustomerId
        required: true
        schema:
          type: string
      - description: Transaction ID that will be used to track this request.
        in: header
        name: Citrix-TransactionId
        schema:
          type: string
      - description: "App Name. ['Workspace']"
        in: path
        name: app
        required: true
        schema:
          type: string
      - description: Domain used for user's email address.
        in: path
        name: domain
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Deleted.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: The requested domain/customer id is invalid.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Unauthorized request.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Forbidden request.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "404":
          content: {}
          description: The requested record is not found.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Only accepts UTF-8 Charset
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Conflict
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: The caller has overloaded the server and is being rate-limited.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: The service is unavailable at this time.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
      security:
      - BearerTokenAuth: []
      summary: Delete Discovery Record For App And Email Domain Suffix.
      tags:
      - DiscoveryController
      x-summary: Delete Discovery Record
    get:
      deprecated: false
      operationId: getDiscoveryApiUsingGET
      parameters:
      - description: Only "application/json" is supported.
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          type: string
      - description: Valid Citrix Cloud Authorization header.
        example: CWSAuth bearer="<bearer_token>"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Citrix Cloud Customer ID.
        in: header
        name: Citrix-CustomerId
        required: true
        schema:
          type: string
      - description: Transaction ID that will be used to track this request.
        in: header
        name: Citrix-TransactionId
        schema:
          type: string
      - description: "App Name. ['Workspace']"
        in: path
        name: app
        required: true
        schema:
          type: string
      - description: Domain used for user's email address.
        in: path
        name: domain
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllDiscoveryResponse'
          description: Success.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            Etag:
              description: The API response will have Etag header
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Vary:
              description: The API response will have Vary header
              schema:
                type: string
            Expires:
              description: The API response will have Expires header
              schema:
                type: string
            Last-Modified:
              description: The API response will have Last-Modified header
              schema:
                type: string
            cache-control:
              description: The API response will have CACHE_CONTROL header
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: The requested domain/customer id is invalid.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Unauthorized request.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Forbidden request.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: The requested record is not found.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            Etag:
              description: The API response will have Etag header
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Vary:
              description: The API response will have Vary header
              schema:
                type: string
            Expires:
              description: The API response will have Expires header
              schema:
                type: string
            Last-Modified:
              description: The API response will have Last-Modified header
              schema:
                type: string
            cache-control:
              description: The API response will have CACHE_CONTROL header
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Only accepts UTF-8 Charset
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: The service is unavailable at this time.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
      security:
      - BearerTokenAuth: []
      summary: Retrieve Discovery Record For App And Email Domain Suffix.
      tags:
      - DiscoveryController
    put:
      deprecated: false
      operationId: putDiscoveryApiUsingPUT
      parameters:
      - description: Only "application/json" is supported.
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          type: string
      - description: Valid Citrix Cloud Authorization header.
        example: CWSAuth bearer="<bearer_token>"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Citrix Cloud Customer ID.
        in: header
        name: Citrix-CustomerId
        required: true
        schema:
          type: string
      - description: Transaction ID that will be used to track this request.
        in: header
        name: Citrix-TransactionId
        schema:
          type: string
      - description: "App Name. ['Workspace']"
        in: path
        name: app
        required: true
        schema:
          type: string
      - description: Domain used for user's email address.
        in: path
        name: domain
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiscoveryRecordModel'
        description: Discovery record to be created.
        required: true
      responses:
        "204":
          content: {}
          description: Updated.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: The requested domain name/customer id is invalid.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Unauthorized request.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Forbidden request.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: The record to be updated is not found.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "406":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Only accepts UTF-8 Charset
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "409":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: The specified document/part of the document already exists.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "415":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Request body is unacceptable.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "429":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: The caller has overloaded the server and is being rate-limited.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "503":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: The service is unavailable at this time.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
      security:
      - BearerTokenAuth: []
      summary: Update Discovery Record For An App And Email Domain Suffix.
      tags:
      - DiscoveryController
      x-codegen-request-body-name: discoveryRecord
  /aca/settings:
    get:
      deprecated: false
      operationId: getAllSettingsApiUsingGET
      parameters:
      - description: Only "application/json" is supported.
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          type: string
      - description: Valid Citrix Cloud Authorization header.
        example: CWSAuth bearer="<bearer_token>"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Citrix Cloud Customer ID.
        in: header
        name: Citrix-CustomerId
        required: true
        schema:
          type: string
      - description: Transaction ID that will be used to track this request.
        in: header
        name: Citrix-TransactionId
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllSettingResponse'
          description: Success.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            Etag:
              description: The API response will have Etag header
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Vary:
              description: The API response will have Vary header
              schema:
                type: string
            Expires:
              description: The API response will have Expires header
              schema:
                type: string
            Last-Modified:
              description: The API response will have Last-Modified header
              schema:
                type: string
            cache-control:
              description: The API response will have CACHE_CONTROL header
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: The requested customer id is invalid.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Unauthorized request.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Forbidden request.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: The requested customer id is not found.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            Etag:
              description: The API response will have Etag header
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Vary:
              description: The API response will have Vary header
              schema:
                type: string
            Expires:
              description: The API response will have Expires header
              schema:
                type: string
            Last-Modified:
              description: The API response will have Last-Modified header
              schema:
                type: string
            cache-control:
              description: The API response will have CACHE_CONTROL header
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Only accepts UTF-8 Charset
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: The caller has overloaded the service and is being rate-limited.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: The service is unavailable at this time.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
      security:
      - BearerTokenAuth: []
      summary: Retrieve All Settings Records For The Specified Customer Id.
      tags:
      - SettingsController
  /aca/settings/app/{app}/url:
    post:
      deprecated: false
      operationId: postSettingsApiUsingPOST
      parameters:
      - description: Only "application/json" is supported.
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          type: string
      - description: Valid Citrix Cloud Authorization header.
        example: CWSAuth bearer="<bearer_token>"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Citrix Cloud Customer ID.
        in: header
        name: Citrix-CustomerId
        required: true
        schema:
          type: string
      - description: Transaction ID that will be used to track this request.
        in: header
        name: Citrix-TransactionId
        schema:
          type: string
      - description: Application Name.
        in: path
        name: app
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettingsRecordModel'
        description: Settings record to be created.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllSettingResponse'
          description: Created.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
            Location:
              description: URI of the created resource.
              schema:
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: The specified Discovery record/Customer ID is invalid.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Unauthorized request.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Forbidden request.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Only accepts UTF-8 Charset
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: The specified document/part of the document already exists.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Request body is unacceptable.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: The caller has overloaded the server and is being rate-limited.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: The service is unavailable at this time.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
      security:
      - BearerTokenAuth: []
      summary: Create A New Settings Record.
      tags:
      - SettingsController
      x-codegen-request-body-name: settingsRecord
  /aca/settings/app/{app}/url/{url}:
    delete:
      deprecated: false
      operationId: deleteSettingsApiUsingDELETE
      parameters:
      - description: Only "application/json" is supported.
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          type: string
      - description: Valid Citrix Cloud Authorization header.
        example: CWSAuth bearer="<bearer_token>"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Citrix Cloud Customer ID.
        in: header
        name: Citrix-CustomerId
        required: true
        schema:
          type: string
      - description: Transaction ID that will be used to track this request.
        in: header
        name: Citrix-TransactionId
        schema:
          type: string
      - description: Application Name.
        in: path
        name: app
        required: true
        schema:
          type: string
      - description: Service URL for settings (based 64 url encoded)
        in: path
        name: url
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Deleted.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: The requested app/service/customer id is invalid.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Unauthorized request.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Forbidden request.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "404":
          content: {}
          description: The requested record is not found.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "406":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Only accepts UTF-8 Charset
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "409":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Conflict
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "429":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: The caller has overloaded the server and is being rate-limited.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "503":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: The service is unavailable at this time.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
      security:
      - BearerTokenAuth: []
      summary: Delete Record For App And Service-url.
      tags:
      - SettingsController
    get:
      deprecated: false
      operationId: getSettingsApiUsingGET
      parameters:
      - description: Only "application/json" is supported.
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          type: string
      - description: Valid Citrix Cloud Authorization header.
        example: CWSAuth bearer="<bearer_token>"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Citrix Cloud Customer ID.
        in: header
        name: Citrix-CustomerId
        required: true
        schema:
          type: string
      - description: Transaction ID that will be used to track this request.
        in: header
        name: Citrix-TransactionId
        schema:
          type: string
      - description: "App Name. ['Workspace']"
        in: path
        name: app
        required: true
        schema:
          type: string
      - description: Service URL for settings (based 64 url encoded)
        in: path
        name: url
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllSettingResponse'
          description: Success.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            Etag:
              description: The API response will have Etag header
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Vary:
              description: The API response will have Vary header
              schema:
                type: string
            Expires:
              description: The API response will have Expires header
              schema:
                type: string
            Last-Modified:
              description: The API response will have Last-Modified header
              schema:
                type: string
            cache-control:
              description: The API response will have CACHE_CONTROL header
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: The requested service or app name is invalid.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Unauthorized request.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Forbidden request.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: The requested record is not found.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            Etag:
              description: The API response will have Etag header
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Vary:
              description: The API response will have Vary header
              schema:
                type: string
            Expires:
              description: The API response will have Expires header
              schema:
                type: string
            Last-Modified:
              description: The API response will have Last-Modified header
              schema:
                type: string
            cache-control:
              description: The API response will have CACHE_CONTROL header
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Only accepts UTF-8 Charset
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: The requested document is not found.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: The caller has overloaded the server and is being rate-limited.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: The service is unavailable at this time.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
      security:
      - BearerTokenAuth: []
      summary: Retrieve Settings Record For App And Service-URL.
      tags:
      - SettingsController
    put:
      deprecated: false
      operationId: putSettingsApiUsingPUT
      parameters:
      - description: Only "application/json" is supported.
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          type: string
      - description: Valid Citrix Cloud Authorization header.
        example: CWSAuth bearer="<bearer_token>"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Citrix Cloud Customer ID.
        in: header
        name: Citrix-CustomerId
        required: true
        schema:
          type: string
      - description: Transaction ID that will be used to track this request.
        in: header
        name: Citrix-TransactionId
        schema:
          type: string
      - description: "App Name. ['Workspace']"
        in: path
        name: app
        required: true
        schema:
          type: string
      - description: Service URL for settings (based 64 url encoded)
        in: path
        name: url
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettingsRecordModel'
        description: Settings record to be created.
        required: true
      responses:
        "204":
          content: {}
          description: Updated.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: The requested app/service/customer id is invalid.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Unauthorized request.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Forbidden request.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: The requested record is not found.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "406":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Only accepts UTF-8 Charset
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "409":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Conflict
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "415":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Request body is unacceptable.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "429":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: The caller has overloaded the server and is being rate-limited.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "503":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: The service is unavailable at this time.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
      security:
      - BearerTokenAuth: []
      summary: Update Settings Record For An App And Service-URL.
      tags:
      - SettingsController
      x-codegen-request-body-name: settingsRecord
  /aca/settings/app/{app}/url/{url}/channel:
    get:
      deprecated: false
      operationId: RetrieveAllChannelSettings
      parameters:
      - description: Only "application/json" is supported.
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          type: string
      - description: Valid Citrix Cloud Authorization header.
        example: CWSAuth bearer="<bearer_token>"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: "App Name. ['workspace']"
        in: path
        name: app
        required: true
        schema:
          type: string
      - description: Citrix Cloud Customer ID.
        in: header
        name: Citrix-CustomerId
        required: true
        schema:
          type: string
      - description: Transaction ID that will be used to track this request.
        in: header
        name: Citrix-TransactionId
        schema:
          type: string
      - description: Service URL for settings (based 64 url encoded)
        in: path
        name: url
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllSettingResponse'
          description: Success.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            Etag:
              description: The API response will have Etag header
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Vary:
              description: The API response will have Vary header
              schema:
                type: string
            Expires:
              description: The API response will have Expires header
              schema:
                type: string
            Last-Modified:
              description: The API response will have Last-Modified header
              schema:
                type: string
            cache-control:
              description: The API response will have CACHE_CONTROL header
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: The requested service or app name is invalid.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Unauthorized request.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Forbidden request.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: The requested record is not found.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              schema:
                type: string
            Etag:
              description: The API response will have Etag header
              schema:
                type: string
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              schema:
                type: string
            Vary:
              description: The API response will have Vary header
              schema:
                type: string
            Expires:
              description: The API response will have Expires header
              schema:
                type: string
            Last-Modified:
              description: The API response will have Last-Modified header
              schema:
                type: string
            cache-control:
              description: The API response will have CACHE_CONTROL header
              schema:
                type: string
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              schema:
                type: string
        "406":
          content:
[...]
