openapi: 3.0.3
info:
  description: Describes API used by Global App Config Admin Service
  termsOfService: https://www.citrix.com/about/legal/legal-notice/
  title: Global App Config Admin
  version: "1.0"
servers:
- url: https://wsaca.cloud.com
tags:
- description: Workspace Discovery APIs
  name: Discovery
- description: APIs to manage profiles
  name: Profiles
- description: APIs to configure settings
  name: Settings
paths:
  /aca/discovery:
    get:
      operationId: RetrieveAllDiscovery
      parameters:
      - description: Citrix Cloud Customer ID.
        explode: false
        in: header
        name: Citrix-CustomerId
        required: true
        schema:
          type: string
        style: simple
      - description: Transaction ID that will be used to track this request.
        explode: false
        in: header
        name: Citrix-TransactionId
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllDiscoveryResponse'
          description: Success.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Etag:
              description: The API response will have Etag header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Vary:
              description: The API response will have Vary header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Last-Modified:
              description: The API response will have Last-Modified header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Expires:
              description: The API response will have Expires header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            cache-control:
              description: The API response will have CACHE_CONTROL header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Bad Request
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Unauthorized
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Forbidden
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Not Found
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Cache-Control:
              description: The API response will have CACHE_CONTROL header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            ETag:
              description: The API response will have Etag header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Vary:
              description: The API response will have Vary header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Last-Modified:
              description: The API response will have Last-Modified header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Expires:
              description: The API response will have Expires header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Not Acceptable
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Conflict
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Unsupported Media Type
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Too Many Requests
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Service Unavailable
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
      security:
      - Authorization: []
      summary: Retrieve Discovery Records For The Specified Customer Id
      tags:
      - Discovery
  /aca/discovery/app/{app}/domain:
    post:
      operationId: CreateDiscovery
      parameters:
      - description: Citrix Cloud Customer ID.
        explode: false
        in: header
        name: Citrix-CustomerId
        required: true
        schema:
          type: string
        style: simple
      - description: "App Name. ['workspace']"
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
      - description: Transaction ID that will be used to track this request.
        explode: false
        in: header
        name: Citrix-TransactionId
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiscoveryRecordModel'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscoveryRecordModel'
          description: Created.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Location:
              description: URI of the created resource.
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Bad Request
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Unauthorized
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Forbidden
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Not Found
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Cache-Control:
              description: The API response will have CACHE_CONTROL header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            ETag:
              description: The API response will have Etag header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Vary:
              description: The API response will have Vary header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Last-Modified:
              description: The API response will have Last-Modified header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Expires:
              description: The API response will have Expires header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Not Acceptable
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Conflict
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Unsupported Media Type
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Too Many Requests
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Service Unavailable
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
      security:
      - Authorization: []
      summary: Create A new Discovery Record For The Specified Customer Id And A Specific
        Product.
      tags:
      - Discovery
  /aca/discovery/app/{app}/domain/{domain}:
    delete:
      operationId: DeleteDiscovery
      parameters:
      - description: Citrix Cloud Customer ID.
        explode: false
        in: header
        name: Citrix-CustomerId
        required: true
        schema:
          type: string
        style: simple
      - description: "App Name. ['workspace']"
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
      - description: Domain used for user's email address.
        explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      - description: Transaction ID that will be used to track this request.
        explode: false
        in: header
        name: Citrix-TransactionId
        required: false
        schema:
          type: string
        style: simple
      responses:
        "204":
          content:
            application/json:
              schema:
                type: string
          description: Deleted.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Bad Request
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Unauthorized
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Forbidden
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Not Found
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Cache-Control:
              description: The API response will have CACHE_CONTROL header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            ETag:
              description: The API response will have Etag header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Vary:
              description: The API response will have Vary header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Last-Modified:
              description: The API response will have Last-Modified header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Expires:
              description: The API response will have Expires header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Not Acceptable
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Conflict
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Unsupported Media Type
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Too Many Requests
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Service Unavailable
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
      security:
      - Authorization: []
      summary: "Delete Discovery Record For The Specified Customer Id, Domain And\
        \ Product."
      tags:
      - Discovery
    get:
      operationId: RetrieveDiscovery
      parameters:
      - description: Citrix Cloud Customer ID.
        explode: false
        in: header
        name: Citrix-CustomerId
        required: true
        schema:
          type: string
        style: simple
      - description: "App Name. ['workspace']"
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
      - description: Domain used for user's email address.
        explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      - description: Transaction ID that will be used to track this request.
        explode: false
        in: header
        name: Citrix-TransactionId
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllDiscoveryResponse'
          description: Success.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Etag:
              description: The API response will have Etag header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Vary:
              description: The API response will have Vary header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Last-Modified:
              description: The API response will have Last-Modified header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Expires:
              description: The API response will have Expires header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            cache-control:
              description: The API response will have CACHE_CONTROL header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Bad Request
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Unauthorized
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Forbidden
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Not Found
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Cache-Control:
              description: The API response will have CACHE_CONTROL header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            ETag:
              description: The API response will have Etag header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Vary:
              description: The API response will have Vary header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Last-Modified:
              description: The API response will have Last-Modified header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Expires:
              description: The API response will have Expires header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Not Acceptable
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Conflict
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Unsupported Media Type
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Too Many Requests
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Service Unavailable
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
      security:
      - Authorization: []
      summary: "Retrieve Discovery Record For The Specified Customer Id, Domain And\
        \ A Specific Product."
      tags:
      - Discovery
    put:
      operationId: UpdateDiscovery
      parameters:
      - description: Citrix Cloud Customer ID.
        explode: false
        in: header
        name: Citrix-CustomerId
        required: true
        schema:
          type: string
        style: simple
      - description: "App Name. ['workspace']"
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
      - description: Domain used for user's email address.
        explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      - description: Transaction ID that will be used to track this request.
        explode: false
        in: header
        name: Citrix-TransactionId
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiscoveryRecordModel'
      responses:
        "204":
          content:
            '*/*':
              schema:
                type: string
          description: Updated.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Bad Request
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Unauthorized
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Forbidden
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Not Found
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Cache-Control:
              description: The API response will have CACHE_CONTROL header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            ETag:
              description: The API response will have Etag header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Vary:
              description: The API response will have Vary header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Last-Modified:
              description: The API response will have Last-Modified header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Expires:
              description: The API response will have Expires header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Not Acceptable
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Conflict
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Unsupported Media Type
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Too Many Requests
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Service Unavailable
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
      security:
      - Authorization: []
      summary: "Update Discovery Record For The Specified Customer Id, Domain And\
        \ Product."
      tags:
      - Discovery
  /aca/profile:
    get:
      operationId: GetAllProfile
      parameters:
      - description: Citrix Cloud Customer ID.
        explode: false
        in: header
        name: Citrix-CustomerId
        required: true
        schema:
          type: string
        style: simple
      - description: Transaction ID that will be used to track this request.
        explode: false
        in: header
        name: Citrix-TransactionId
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllProfileResponseModel'
          description: Success.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Bad Request
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Unauthorized
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Forbidden
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Not Found
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Cache-Control:
              description: The API response will have CACHE_CONTROL header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            ETag:
              description: The API response will have Etag header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Vary:
              description: The API response will have Vary header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Last-Modified:
              description: The API response will have Last-Modified header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Expires:
              description: The API response will have Expires header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Not Acceptable
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Conflict
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Unsupported Media Type
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Too Many Requests
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Service Unavailable
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
      security:
      - Authorization: []
      summary: Retrieve all profile records for the given customer ID
      tags:
      - Profiles
    post:
      operationId: CreateProfile
      parameters:
      - description: Citrix Cloud Customer ID.
        explode: false
        in: header
        name: Citrix-CustomerId
        required: true
        schema:
          type: string
        style: simple
      - description: Transaction ID that will be used to track this request.
        explode: false
        in: header
        name: Citrix-TransactionId
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileRequestModel'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponseModel'
          description: Created.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Location:
              description: URI of the created resource.
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Bad Request
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Unauthorized
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Forbidden
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Not Found
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Cache-Control:
              description: The API response will have CACHE_CONTROL header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            ETag:
              description: The API response will have Etag header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Vary:
              description: The API response will have Vary header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Last-Modified:
              description: The API response will have Last-Modified header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Expires:
              description: The API response will have Expires header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Not Acceptable
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Conflict
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Unsupported Media Type
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Too Many Requests
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Service Unavailable
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
      security:
      - Authorization: []
      summary: Create Profile Record For The Specified Customer Id.
      tags:
      - Profiles
  /aca/profile/url/{url}:
    get:
      operationId: GetByUrl
      parameters:
      - description: Citrix Cloud Customer ID.
        explode: false
        in: header
        name: Citrix-CustomerId
        required: true
        schema:
          type: string
        style: simple
      - description: url
        explode: false
        in: path
        name: url
        required: true
        schema:
          type: string
        style: simple
      - description: Transaction ID that will be used to track this request.
        explode: false
        in: header
        name: Citrix-TransactionId
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponseModel'
          description: Success.
          headers:
            Citrix-TransactionId:
              description: Citrix Transaction ID that uniquely identifies each transaction.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: "Content type of the response. Currently, the API only\
                \ supports application/json (type) and utf-8 (charset)."
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Bad Request
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Unauthorized
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Forbidden
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Not Found
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Cache-Control:
              description: The API response will have CACHE_CONTROL header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            ETag:
              description: The API response will have Etag header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Vary:
              description: The API response will have Vary header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Last-Modified:
              description: The API response will have Last-Modified header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Expires:
              description: The API response will have Expires header
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
          description: Not Acceptable
          headers:
            Citrix-TransactionId:
              description: Unique Citrix transaction ID to track a request.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            X-Content-Type-Options:
              description: The API response will have X-Content-Type-Options header
                set to nosniff value.
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Content-Type:
              description: Content type of the response. Currently only supports application/json
                (type) and utf-8 (charset).
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitrixErrorModel'
[...]
