openapi: 3.0.1
info:
  title: WEM Public API Guide
  version: v1
servers:
- url: https://api.wem.cloud.com/
security:
- basic: []
paths:
  /services/wem/machines/{id}:
    delete:
      operationId: AdObject_Delete
      parameters:
      - description: The ID of the resource you want to delete.
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Only "application/json" is supported.
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          type: string
      - description: Citrix Cloud authorization token.
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Transaction ID that will be used to track this request.
        in: header
        name: Citrix-TransactionId
        schema:
          default: 8bb6abc3-9a37-4742-8808-024f13c0e4d0
          type: string
      - description: Citrix Cloud customer ID.
        in: header
        name: Citrix-CustomerId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Resource deletion completed successfully.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: The attempt to delete the resource failed.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/invalidJson
            detail: Unable to parse the format of request body as a json object
            parameters:
            - name: reason
              value: format error
        "401":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: Authorization failed.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/authentication
            detail: Missing or invalid authentication details
            parameters:
            - name: reason
              value: missing
        "404":
          content: {}
          description: The target resource cannot be found.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
        "406":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: Requested media type is not supported.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/notAcceptable
            detail: Must accept application/json media type
            parameters:
            - name: contentType
              value: application/json
        "409":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: The attempt to remove the resource failed because of dependency
            for existing entities.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/optimisticConcurrency
            detail: Entity is being used or depended by other existing resource
            parameters:
            - name: entityType
              value: AssignedActions
        "415":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: The charset is not supported.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/unsupportedMediaType
            detail: Must use application/json;charset=utf-8 media type
            parameters:
            - name: mediaType
              value: application/xml
      summary: Delete a Machine-level AD Object
      tags:
      - Machine AD Object
    get:
      operationId: AdObject_QueryById
      parameters:
      - description: The ID of the resource you want to query.
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      - description: Only "application/json" is supported.
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          type: string
      - description: Citrix Cloud authorization token.
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Transaction ID that will be used to track this request.
        in: header
        name: Citrix-TransactionId
        schema:
          default: c8b677e6-b18c-4a7b-a2fa-b16e671cf430
          type: string
      - description: Citrix Cloud customer ID.
        in: header
        name: Citrix-CustomerId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/MachineModel'
            id:
              example: 3
            sid:
              example: S-1-5-21-1375803180-495861276-740282956-1114
            name:
              example: "CN=TestComputer,CN=Computers,DC=bvt,DC=local"
            type:
              example: Computer
            description:
              example: This is a test computer
            siteId:
              example: 1
            enabled:
              example: true
            priority:
              example: 100
          description: Query completed successfully.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            Cache-Control:
              description: It is always "no-cache."
              schema:
                type: string
            ETag:
              description: Unique code which represents resources you queried.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Vary:
              description: It is always "*."
              schema:
                type: string
            Last-Modified:
              description: Last modified time of the resources you queried.
              schema:
                type: string
            Expires:
              description: Expiration time of the resources you queried.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
        "401":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: Authorization failed.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/authentication
            detail: Missing or invalid authentication details
            parameters:
            - name: reason
              value: missing
        "404":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: The target resource cannot be found.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            Cache-Control:
              description: It is always "no-cache."
              schema:
                type: string
            ETag:
              description: Unique code which represents resources you queried.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Vary:
              description: It is always "*."
              schema:
                type: string
            Last-Modified:
              description: Last modified time of the resources you queried.
              schema:
                type: string
            Expires:
              description: Expiration time of the resources you queried.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/notFound
            detail: Cannot find target resource
            parameters:
            - name: property
              value: id
        "406":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: Requested media type is not supported.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/notAcceptable
            detail: Must accept application/json media type
            parameters:
            - name: contentType
              value: application/json
        "415":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: The charset is not supported.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/unsupportedMediaType
            detail: Must use application/json;charset=utf-8 media type
            parameters:
            - name: mediaType
              value: application/xml
      summary: Query Machine-level AD Objects by Identity
      tags:
      - Machine AD Object
    x-summary: Query Delete Machines
  /services/wem/machines:
    get:
      operationId: AdObject_Query
      parameters:
      - description: The SID is used to filter the query results.
        in: query
        name: sid
        schema:
          type: string
      - description: The name is used to filter the query results.
        in: query
        name: siteId
        schema:
          format: int64
          type: integer
      - description: The ID is used to filter the query results.
        in: query
        name: id
        schema:
          format: int64
          type: integer
      - description: Only "application/json" is supported.
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          type: string
      - description: Citrix Cloud authorization token.
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Transaction ID that will be used to track this request.
        in: header
        name: Citrix-TransactionId
        schema:
          default: ad159f5b-8961-4c6a-b3db-f2d073eb77b5
          type: string
      - description: Citrix Cloud customer ID.
        in: header
        name: Citrix-CustomerId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AdObject_Query_200_response'
            items:
              example:
              - id: 3
                sid: S-1-5-21-1375803180-495861276-740282956-1114
                name: "CN=TestComputer,CN=Computers,DC=bvt,DC=local"
                type: Computer
                description: This is a test computer
                siteId: 1
                enabled: true
                priority: 100
          description: Query completed successfully.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            Cache-Control:
              description: It is always "no-cache."
              schema:
                type: string
            ETag:
              description: Unique code which represents resources you queried.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Vary:
              description: It is always "*."
              schema:
                type: string
            Last-Modified:
              description: Last modified time of the resources you queried.
              schema:
                type: string
            Expires:
              description: Expiration time of the resources you queried.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
        "401":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: Authorization failed.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/authentication
            detail: Missing or invalid authentication details
            parameters:
            - name: reason
              value: missing
        "404":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: The target resource cannot be found.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            Cache-Control:
              description: It is always "no-cache."
              schema:
                type: string
            ETag:
              description: Unique code which represents resources you queried.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Vary:
              description: It is always "*."
              schema:
                type: string
            Last-Modified:
              description: Last modified time of the resources you queried.
              schema:
                type: string
            Expires:
              description: Expiration time of the resources you queried.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/notFound
            detail: Cannot find target resource
            parameters:
            - name: property
              value: id
        "406":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: Requested media type is not supported.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/notAcceptable
            detail: Must accept application/json media type
            parameters:
            - name: contentType
              value: application/json
        "415":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: The charset is not supported.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/unsupportedMediaType
            detail: Must use application/json;charset=utf-8 media type
            parameters:
            - name: mediaType
              value: application/xml
      summary: Query Machine-level AD Objects
      tags:
      - Machine AD Object
    post:
      operationId: AdObject_Create
      parameters:
      - description: Only "application/json" is supported.
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          type: string
      - description: Citrix Cloud authorization token.
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Transaction ID that will be used to track this request.
        in: header
        name: Citrix-TransactionId
        schema:
          default: 932fb487-f91a-44f7-8b98-a4baafd2a0ed
          type: string
      - description: Citrix Cloud customer ID.
        in: header
        name: Citrix-CustomerId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/MachineModelExamplePost'
        required: false
      responses:
        "201":
          content: {}
          description: Resource creation completed successfully.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Location:
              description: Location of the created resource.
              schema:
                type: string
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: The format of the parameters is incorrect.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/invalidJson
            detail: Unable to parse the format of request body as a json object
            parameters:
            - name: reason
              value: format error
        "401":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: Authorization failed.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/authentication
            detail: Missing or invalid authentication details
            parameters:
            - name: reason
              value: missing
        "406":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: Requested media type is not supported.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/notAcceptable
            detail: Must accept application/json media type
            parameters:
            - name: contentType
              value: application/json
        "409":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: A resource with the same identity already exists.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/optimisticConcurrency
            detail: Entity is being used or depended by other existing resource
            parameters:
            - name: entityType
              value: AssignedActions
        "415":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: The charset is not supported.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/unsupportedMediaType
            detail: Must use application/json;charset=utf-8 media type
            parameters:
            - name: mediaType
              value: application/xml
      summary: Create a Machine-level AD Object
      tags:
      - Machine AD Object
      x-codegen-request-body-name: Body
    put:
      operationId: AdObject_Update
      parameters:
      - description: Only "application/json" is supported.
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          type: string
      - description: Citrix Cloud authorization token.
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Transaction ID that will be used to track this request.
        in: header
        name: Citrix-TransactionId
        schema:
          default: d3116ffe-b620-4162-bc82-ac5f66895692
          type: string
      - description: Citrix Cloud customer ID.
        in: header
        name: Citrix-CustomerId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/MachineModelExamplePut'
        required: false
      responses:
        "204":
          content: {}
          description: Resource update completed successfully.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: The format of the parameters is incorrect.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/invalidJson
            detail: Unable to parse the format of request body as a json object
            parameters:
            - name: reason
              value: format error
        "401":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: Authorization failed.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/authentication
            detail: Missing or invalid authentication details
            parameters:
            - name: reason
              value: missing
        "406":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: Requested media type is not supported.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/notAcceptable
            detail: Must accept application/json media type
            parameters:
            - name: contentType
              value: application/json
        "409":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: A resource with the same identity already exists.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/optimisticConcurrency
            detail: Entity is being used or depended by other existing resource
            parameters:
            - name: entityType
              value: AssignedActions
        "415":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: The charset is not supported.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/unsupportedMediaType
            detail: Must use application/json;charset=utf-8 media type
            parameters:
            - name: mediaType
              value: application/xml
      summary: Update a Machine-level AD Object
      tags:
      - Machine AD Object
      x-codegen-request-body-name: Body
    x-summary: Query Create Update Machines
  /services/wem/sites/{id}:
    delete:
      operationId: Site_Delete
      parameters:
      - description: The ID of the resource you want to delete.
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      - description: Only "application/json" is supported.
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          type: string
      - description: Citrix Cloud authorization token.
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Transaction ID that will be used to track this request.
        in: header
        name: Citrix-TransactionId
        schema:
          default: c64a0e4a-426e-4271-ab2d-49fa019d8de3
          type: string
      - description: Citrix Cloud customer ID.
        in: header
        name: Citrix-CustomerId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Resource deletion completed successfully.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: The attempt to delete the resource failed.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/invalidJson
            detail: Unable to parse the format of request body as a json object
            parameters:
            - name: reason
              value: format error
        "401":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: Authorization failed.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/authentication
            detail: Missing or invalid authentication details
            parameters:
            - name: reason
              value: missing
        "404":
          content: {}
          description: The target resource cannot be found.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
        "406":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: Requested media type is not supported.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/notAcceptable
            detail: Must accept application/json media type
            parameters:
            - name: contentType
              value: application/json
        "409":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: The attempt to remove the resource failed because of dependency
            for existing entities.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/optimisticConcurrency
            detail: Entity is being used or depended by other existing resource
            parameters:
            - name: entityType
              value: AssignedActions
        "415":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: The charset is not supported.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/unsupportedMediaType
            detail: Must use application/json;charset=utf-8 media type
            parameters:
            - name: mediaType
              value: application/xml
      summary: Delete a Site
      tags:
      - Site
    get:
      operationId: Site_QueryById
      parameters:
      - description: The ID of the resource you want to query.
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      - description: Only "application/json" is supported.
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          type: string
      - description: Citrix Cloud authorization token.
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Transaction ID that will be used to track this request.
        in: header
        name: Citrix-TransactionId
        schema:
          default: b6155b53-555d-4898-a4bb-3540339a1ac7
          type: string
      - description: Citrix Cloud customer ID.
        in: header
        name: Citrix-CustomerId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/SiteModel'
            id:
              example: 2
            name:
              example: New Site
            description:
              example: This is a site for test
          description: Query completed successfully.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            Cache-Control:
              description: It is always "no-cache."
              schema:
                type: string
            ETag:
              description: Unique code which represents resources you queried.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Vary:
              description: It is always "*."
              schema:
                type: string
            Last-Modified:
              description: Last modified time of the resources you queried.
              schema:
                type: string
            Expires:
              description: Expiration time of the resources you queried.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
        "401":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: Authorization failed.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/authentication
            detail: Missing or invalid authentication details
            parameters:
            - name: reason
              value: missing
        "404":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: The target resource cannot be found.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            Cache-Control:
              description: It is always "no-cache."
              schema:
                type: string
            ETag:
              description: Unique code which represents resources you queried.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Vary:
              description: It is always "*."
              schema:
                type: string
            Last-Modified:
              description: Last modified time of the resources you queried.
              schema:
                type: string
            Expires:
              description: Expiration time of the resources you queried.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/notFound
            detail: Cannot find target resource
            parameters:
            - name: property
              value: id
        "406":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: Requested media type is not supported.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/notAcceptable
            detail: Must accept application/json media type
            parameters:
            - name: contentType
              value: application/json
        "415":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: The charset is not supported.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/unsupportedMediaType
            detail: Must use application/json;charset=utf-8 media type
            parameters:
            - name: mediaType
              value: application/xml
      summary: Query Sites by Identity
      tags:
      - Site
    x-summary: Query Delete Sites
  /services/wem/sites/$export:
    get:
      operationId: Site_Export
      parameters:
      - description: The ID of the resource you want to export.
        in: query
        name: id
        schema:
          format: int64
          type: integer
      - description: The name of the resource you want to export.
        in: query
        name: name
        schema:
          type: string
      - description: Only "application/json" is supported.
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          type: string
      - description: Citrix Cloud authorization token.
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Transaction ID that will be used to track this request.
        in: header
        name: Citrix-TransactionId
        schema:
          default: 2bd401c7-e7d0-4d18-90e2-9d92584ddde3
          type: string
      - description: Citrix Cloud customer ID.
        in: header
        name: Citrix-CustomerId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Object'
          description: Query completed successfully.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            Cache-Control:
              description: It is always "no-cache."
              schema:
                type: string
            ETag:
              description: Unique code which represents resources you queried.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Vary:
              description: It is always "*."
              schema:
                type: string
            Last-Modified:
              description: Last modified time of the resources you queried.
              schema:
                type: string
            Expires:
              description: Expiration time of the resources you queried.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
        "401":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: Authorization failed.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/authentication
            detail: Missing or invalid authentication details
            parameters:
            - name: reason
              value: missing
        "404":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: The target resource cannot be found.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            Cache-Control:
              description: It is always "no-cache."
              schema:
                type: string
            ETag:
              description: Unique code which represents resources you queried.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Vary:
              description: It is always "*."
              schema:
                type: string
            Last-Modified:
              description: Last modified time of the resources you queried.
              schema:
                type: string
            Expires:
              description: Expiration time of the resources you queried.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/notFound
            detail: Cannot find target resource
            parameters:
            - name: property
              value: id
        "406":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: Requested media type is not supported.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/notAcceptable
            detail: Must accept application/json media type
            parameters:
            - name: contentType
              value: application/json
        "415":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: The charset is not supported.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/unsupportedMediaType
            detail: Must use application/json;charset=utf-8 media type
            parameters:
            - name: mediaType
              value: application/xml
      summary: Export a Site
      tags:
      - Site
    x-summary: Query $export
  /services/wem/sites/$import:
    post:
      operationId: Site_Import
      parameters:
      - description: Only "application/json" is supported.
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          type: string
      - description: Citrix Cloud authorization token.
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Transaction ID that will be used to track this request.
        in: header
        name: Citrix-TransactionId
        schema:
          default: d0948dc7-4861-45b9-8ae2-b5b40229237a
          type: string
      - description: Citrix Cloud customer ID.
        in: header
        name: Citrix-CustomerId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ObjectPost'
        required: false
      responses:
        "201":
          content: {}
          description: Resource creation completed successfully.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Location:
              description: Location of the created resource.
              schema:
                type: string
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: The format of the parameters is incorrect.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/invalidJson
            detail: Unable to parse the format of request body as a json object
            parameters:
            - name: reason
              value: format error
        "401":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: Authorization failed.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/authentication
            detail: Missing or invalid authentication details
            parameters:
            - name: reason
              value: missing
        "406":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: Requested media type is not supported.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/notAcceptable
            detail: Must accept application/json media type
            parameters:
            - name: contentType
              value: application/json
        "409":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: A resource with the same identity already exists.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/optimisticConcurrency
            detail: Entity is being used or depended by other existing resource
            parameters:
            - name: entityType
              value: AssignedActions
        "415":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: The charset is not supported.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/unsupportedMediaType
            detail: Must use application/json;charset=utf-8 media type
            parameters:
            - name: mediaType
              value: application/xml
      summary: Import a Site
      tags:
      - Site
      x-codegen-request-body-name: Body
    x-summary: Create $import
  /services/wem/sites/$replicate:
    post:
      operationId: Site_Replicate
      parameters:
      - in: query
        name: id
        schema:
          format: int64
          type: integer
      - in: query
        name: name
        schema:
          type: string
      - description: Only "application/json" is supported.
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          type: string
      - description: Citrix Cloud authorization token.
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Transaction ID that will be used to track this request.
        in: header
        name: Citrix-TransactionId
        schema:
          default: ea86ad5e-3bf7-4d95-98c7-6993e25a153e
          type: string
      - description: Citrix Cloud customer ID.
        in: header
        name: Citrix-CustomerId
        required: true
        schema:
          type: string
      responses:
        "201":
          content: {}
          description: Resource creation completed successfully.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Location:
              description: Location of the created resource.
              schema:
                type: string
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: The format of the parameters is incorrect.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/invalidJson
            detail: Unable to parse the format of request body as a json object
            parameters:
            - name: reason
              value: format error
        "401":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: Authorization failed.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/authentication
            detail: Missing or invalid authentication details
            parameters:
            - name: reason
              value: missing
        "406":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: Requested media type is not supported.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/notAcceptable
            detail: Must accept application/json media type
            parameters:
            - name: contentType
              value: application/json
        "409":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: A resource with the same identity already exists.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/optimisticConcurrency
            detail: Entity is being used or depended by other existing resource
            parameters:
            - name: entityType
              value: AssignedActions
        "415":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: The charset is not supported.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/unsupportedMediaType
            detail: Must use application/json;charset=utf-8 media type
            parameters:
            - name: mediaType
              value: application/xml
      summary: Replicate a Site
      tags:
      - Site
    x-summary: Create $replicate
  /services/wem/sites:
    get:
      operationId: Site_Query
      parameters:
      - description: The name is used to filter the query results.
        in: query
        name: name
        schema:
          type: string
      - description: The ID is used to filter the query results.
        in: query
        name: id
        schema:
          format: int64
          type: integer
      - description: Only "application/json" is supported.
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          type: string
      - description: Citrix Cloud authorization token.
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Transaction ID that will be used to track this request.
        in: header
        name: Citrix-TransactionId
        schema:
          default: cecfb7dd-4c50-4b11-b4d5-6688946f69ee
          type: string
      - description: Citrix Cloud customer ID.
        in: header
        name: Citrix-CustomerId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Site_Query_200_response'
            items:
              example:
              - id: 2
                name: New Site
                description: This is a site for test
          description: Query completed successfully.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            Cache-Control:
              description: It is always "no-cache."
              schema:
                type: string
            ETag:
              description: Unique code which represents resources you queried.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Vary:
              description: It is always "*."
              schema:
                type: string
            Last-Modified:
              description: Last modified time of the resources you queried.
              schema:
                type: string
            Expires:
              description: Expiration time of the resources you queried.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
        "401":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: Authorization failed.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/authentication
            detail: Missing or invalid authentication details
            parameters:
            - name: reason
              value: missing
        "404":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: The target resource cannot be found.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            Cache-Control:
              description: It is always "no-cache."
              schema:
                type: string
            ETag:
              description: Unique code which represents resources you queried.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Vary:
              description: It is always "*."
              schema:
                type: string
            Last-Modified:
              description: Last modified time of the resources you queried.
              schema:
                type: string
            Expires:
              description: Expiration time of the resources you queried.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/notFound
            detail: Cannot find target resource
            parameters:
            - name: property
              value: id
        "406":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: Requested media type is not supported.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/notAcceptable
            detail: Must accept application/json media type
            parameters:
            - name: contentType
              value: application/json
        "415":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: The charset is not supported.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/unsupportedMediaType
            detail: Must use application/json;charset=utf-8 media type
            parameters:
            - name: mediaType
              value: application/xml
      summary: Query Sites
      tags:
      - Site
    post:
      operationId: Site_Create
      parameters:
      - description: Only "application/json" is supported.
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          type: string
      - description: Citrix Cloud authorization token.
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Transaction ID that will be used to track this request.
        in: header
        name: Citrix-TransactionId
        schema:
          default: 235ca558-a454-42ee-be58-54f57a0b87cc
          type: string
      - description: Citrix Cloud customer ID.
        in: header
        name: Citrix-CustomerId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/SiteModelExamplePost'
        required: false
      responses:
        "201":
          content: {}
          description: Resource creation completed successfully.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Location:
              description: Location of the created resource.
              schema:
                type: string
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: The format of the parameters is incorrect.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/invalidJson
            detail: Unable to parse the format of request body as a json object
            parameters:
            - name: reason
              value: format error
        "401":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: Authorization failed.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/authentication
            detail: Missing or invalid authentication details
            parameters:
            - name: reason
              value: missing
        "406":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: Requested media type is not supported.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/notAcceptable
            detail: Must accept application/json media type
            parameters:
            - name: contentType
              value: application/json
        "409":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: A resource with the same identity already exists.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/optimisticConcurrency
            detail: Entity is being used or depended by other existing resource
            parameters:
            - name: entityType
              value: AssignedActions
        "415":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: The charset is not supported.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/unsupportedMediaType
            detail: Must use application/json;charset=utf-8 media type
            parameters:
            - name: mediaType
              value: application/xml
      summary: Create a Site
      tags:
      - Site
      x-codegen-request-body-name: Body
    put:
      operationId: Site_Update
      parameters:
      - description: Only "application/json" is supported.
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          type: string
      - description: Citrix Cloud authorization token.
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Transaction ID that will be used to track this request.
        in: header
        name: Citrix-TransactionId
        schema:
          default: 773b417e-4dc8-4312-86aa-bcf7e7266467
          type: string
      - description: Citrix Cloud customer ID.
        in: header
        name: Citrix-CustomerId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/SiteModelExamplePut'
        required: false
      responses:
        "204":
          content: {}
          description: Resource update completed successfully.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: The format of the parameters is incorrect.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/invalidJson
            detail: Unable to parse the format of request body as a json object
            parameters:
            - name: reason
              value: format error
        "401":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: Authorization failed.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/authentication
            detail: Missing or invalid authentication details
            parameters:
            - name: reason
              value: missing
        "406":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: Requested media type is not supported.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/notAcceptable
            detail: Must accept application/json media type
            parameters:
            - name: contentType
              value: application/json
        "409":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: A resource with the same identity already exists.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/optimisticConcurrency
            detail: Entity is being used or depended by other existing resource
            parameters:
            - name: entityType
              value: AssignedActions
        "415":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: The charset is not supported.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/unsupportedMediaType
            detail: Must use application/json;charset=utf-8 media type
            parameters:
            - name: mediaType
              value: application/xml
      summary: Update a Site
      tags:
      - Site
      x-codegen-request-body-name: Body
    x-summary: Query Create Update Sites
  /services/wem/systemOptimizations/{id}:
    get:
      operationId: SystemUtilitySetting_QueryById
      parameters:
      - description: The ID of the resource you want to query.
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      - description: Only "application/json" is supported.
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          type: string
      - description: Citrix Cloud authorization token.
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Transaction ID that will be used to track this request.
        in: header
        name: Citrix-TransactionId
        schema:
          default: 1456d989-9136-43e3-a8f6-43dc92dd7beb
          type: string
      - description: Citrix Cloud customer ID.
        in: header
        name: Citrix-CustomerId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/SystemOptimizationModel'
            id:
              example: 1
            enableCpuSpikeProtection:
              example: true
            enableCpuAutoProtection:
              example: false
            cpuUsageLimitOfSpikeProtection:
              example: 70
            cpuUsageLimitSampleTimeOfSpikeProtection:
              example: 30
            idlePriorityTimeOfSpikeProtection:
              example: 180
            enableLimitCpuCoreUsage:
              example: false
            cpuCoreLimitOfSpikeProtection:
              example: 1
            enableIntelligentCpuOptimization:
              example: true
            enableIntelligentIoOptimization:
              example: true
            excludeProcessesFromCpuSpikeProtection:
              example: true
            processesExcludedFromCpuSpikeProtection:
              example:
              - excluded-process-name-1
              - excluded-process-name-2
            enableProcessCpuPriority:
              example: true
            processesOfCpuPriority:
              example:
              - processName: cpu-process-1
                priority: High
              - processName: cpu-process-2
                priority: Normal
              - processName: cpu-process-3
                priority: BelowNormal
              - processName: cpu-process-4
                priority: Realtime
            enableProcessAffinity:
              example: true
            processesOfCpuAffinity:
              example:
              - processName: affinity-process-1
                affinity: 16
              - processName: affinity-process-2
                affinity: 32
            enableProcessClamping:
              example: true
            processesOfCpuClamping:
              example:
              - processName: clamping-process-1
                percentage: 12
              - processName: clamping-process-2
                percentage: 60
            enableMemoryWorkingSetOptimization:
              example: true
            idleSampleTimeOfMemoryWorkingSetOptimization:
              example: 120
            idleStateLimitOfMemoryWorkingSetOptimization:
              example: 1
            excludeProcessesFromMemoryWorkingSetOptimization:
              example: true
            processesExcludedFromMemoryWorkingSetOptimization:
              example:
              - excluded-process-name-1
              - excluded-process-name-2
            enableProcessIoPriority:
              example: true
            processesOfIoPriority:
              example:
              - processName: io-process-1
                priority: High
              - processName: io-process-2
                priority: Normal
              - processName: io-process-3
                priority: VeryLow
            enableFastLogoff:
              example: true
            excludeGroupsFromFastLogoff:
              example: true
            groupsExcludedFromFastLogoff:
              example:
              - "CN=Domain Guests,CN=Users,DC=bvt,DC=local"
              - "CN=Domain Admins,CN=Users,DC=bvt,DC=local"
          description: Query completed successfully.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            Cache-Control:
              description: It is always "no-cache."
              schema:
                type: string
            ETag:
              description: Unique code which represents resources you queried.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Vary:
              description: It is always "*."
              schema:
                type: string
            Last-Modified:
              description: Last modified time of the resources you queried.
              schema:
                type: string
            Expires:
              description: Expiration time of the resources you queried.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
        "401":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: Authorization failed.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/authentication
            detail: Missing or invalid authentication details
            parameters:
            - name: reason
              value: missing
        "404":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: The target resource cannot be found.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            Cache-Control:
              description: It is always "no-cache."
              schema:
                type: string
            ETag:
              description: Unique code which represents resources you queried.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Vary:
              description: It is always "*."
              schema:
                type: string
            Last-Modified:
              description: Last modified time of the resources you queried.
              schema:
                type: string
            Expires:
              description: Expiration time of the resources you queried.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/notFound
            detail: Cannot find target resource
            parameters:
            - name: property
              value: id
        "406":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: Requested media type is not supported.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/notAcceptable
            detail: Must accept application/json media type
            parameters:
            - name: contentType
              value: application/json
        "415":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RestError'
          description: The charset is not supported.
          headers:
            Citrix-TransactionId:
              description: Transaction ID that will be used to track this request.
              schema:
                type: string
            X-Content-Type-Options:
              description: It is always nosniff.
              schema:
                type: string
            Content-Type:
              description: It is always "application/json; charset=utf-8."
              schema:
                type: string
          x-error-response-example:
            type: https://errors-api.cloud.com/common/unsupportedMediaType
            detail: Must use application/json;charset=utf-8 media type
            parameters:
            - name: mediaType
              value: application/xml
      summary: Query System Optimization Configurations by Identity
      tags:
      - System Optimization
    x-summary: Query SystemOptimizations
  /services/wem/systemOptimizations:
    get:
      operationId: SystemUtilitySetting_Query
      parameters:
      - description: Only "application/json" is supported.
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          type: string
      - description: Citrix Cloud authorization token.
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Transaction ID that will be used to track this request.
        in: header
        name: Citrix-TransactionId
        schema:
          default: ca8d8637-e47e-4f6c-9a34-d8399028eeb4
          type: string
      - description: Citrix Cloud customer ID.
        in: header
        name: Citrix-CustomerId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/SystemUtilitySetting_Query_200_response'
            items:
              example:
              - id: 1
                enableCpuSpikeProtection: true
[...]
