openapi: 3.0.4
info:
  description: Catalog Service
  title: Citrix Virtual App & Desktop Catalog Service 151.0.27088.3309
  version: v1
servers:
- url: https://catalogs.apps.cloud.com
security:
- CWSAuth: []
paths:
  /{customerId}/{siteId}/subscriptions:
    get:
      operationId: GetSubscriptions
      parameters:
      - explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: siteId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: skipCache
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: The Transaction Id.
        explode: false
        in: header
        name: Citrix-TransactionId
        required: false
        schema:
          type: string
        style: simple
      - description: Azure Access Token.
        explode: false
        in: header
        name: X-AZURE-ACCESS-TOKEN
        required: false
        schema:
          type: string
        style: simple
      - description: Azure Graph Access Token.
        explode: false
        in: header
        name: X-AZURE-GRAPH-ACCESS-TOKEN
        required: false
        schema:
          type: string
        style: simple
      - description: Azure Tenant Id.
        explode: false
        in: header
        name: X-AZURE-TENANT-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Azure Application Key.
        explode: false
        in: header
        name: X-AZURE-APP-CLIENT-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Azure Application Secret.
        explode: false
        in: header
        name: X-AZURE-APP-CLIENT-SECRET
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureSubscriptionsModel'
          description: OK
        "500":
          description: Internal Server Error
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "400":
          description: Bad Request
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "404":
          description: Not Found
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "401":
          description: Unauthorized
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "403":
          description: Forbidden
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
      tags:
      - AzureSubscriptions
  /{customerId}/{siteId}/subscriptions/{subscriptionId}/virtualwans:
    get:
      operationId: GetVirtualWans
      parameters:
      - description: Specific customer id
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the customer's site
        explode: false
        in: path
        name: siteId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the Azure Subscription
        explode: false
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
        style: simple
      - description: The Transaction Id.
        explode: false
        in: header
        name: Citrix-TransactionId
        required: false
        schema:
          type: string
        style: simple
      - description: Azure Access Token.
        explode: false
        in: header
        name: X-AZURE-ACCESS-TOKEN
        required: false
        schema:
          type: string
        style: simple
      - description: Azure Graph Access Token.
        explode: false
        in: header
        name: X-AZURE-GRAPH-ACCESS-TOKEN
        required: false
        schema:
          type: string
        style: simple
      - description: Azure Tenant Id.
        explode: false
        in: header
        name: X-AZURE-TENANT-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Azure Application Key.
        explode: false
        in: header
        name: X-AZURE-APP-CLIENT-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Azure Application Secret.
        explode: false
        in: header
        name: X-AZURE-APP-CLIENT-SECRET
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AzureVirtualWanModel'
                type: array
          description: OK
        "500":
          description: Internal Server Error
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "400":
          description: Bad Request
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "404":
          description: Not Found
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "401":
          description: Unauthorized
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "403":
          description: Forbidden
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
      summary: Returns the Virtual WANs available in the specified Azure subscription.
      tags:
      - AzureSubscriptions
  /{customerId}/{siteId}/subscriptions/{subscriptionId}/virtualhubs:
    get:
      operationId: GetVirtualHubs
      parameters:
      - description: Specific customer id
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the customer's site
        explode: false
        in: path
        name: siteId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the Azure Subscription
        explode: false
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
        style: simple
      - description: Optional resource group name to filter results
        explode: true
        in: query
        name: resourceGroup
        required: false
        schema:
          type: string
        style: form
      - description: The Transaction Id.
        explode: false
        in: header
        name: Citrix-TransactionId
        required: false
        schema:
          type: string
        style: simple
      - description: Azure Access Token.
        explode: false
        in: header
        name: X-AZURE-ACCESS-TOKEN
        required: false
        schema:
          type: string
        style: simple
      - description: Azure Graph Access Token.
        explode: false
        in: header
        name: X-AZURE-GRAPH-ACCESS-TOKEN
        required: false
        schema:
          type: string
        style: simple
      - description: Azure Tenant Id.
        explode: false
        in: header
        name: X-AZURE-TENANT-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Azure Application Key.
        explode: false
        in: header
        name: X-AZURE-APP-CLIENT-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Azure Application Secret.
        explode: false
        in: header
        name: X-AZURE-APP-CLIENT-SECRET
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AzureVirtualHub'
                type: array
          description: OK
        "500":
          description: Internal Server Error
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "400":
          description: Bad Request
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "404":
          description: Not Found
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "401":
          description: Unauthorized
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "403":
          description: Forbidden
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
      summary: "Returns the Virtual Hubs available in the specified Azure subscription,\
        \ optionally filtered by resource group."
      tags:
      - AzureSubscriptions
  /{customerId}/{siteId}/subscriptions/{subscriptionId}/virtualhubs/{resourceGroup}/{virtualHubName}/vnets:
    get:
      operationId: GetVirtualHubVnetConnections
      parameters:
      - description: Specific customer id
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the customer's site
        explode: false
        in: path
        name: siteId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the Azure Subscription
        explode: false
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the Resource Group where the Virtual Hub is located
        explode: false
        in: path
        name: resourceGroup
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the Virtual Hub
        explode: false
        in: path
        name: virtualHubName
        required: true
        schema:
          type: string
        style: simple
      - description: The Transaction Id.
        explode: false
        in: header
        name: Citrix-TransactionId
        required: false
        schema:
          type: string
        style: simple
      - description: Azure Access Token.
        explode: false
        in: header
        name: X-AZURE-ACCESS-TOKEN
        required: false
        schema:
          type: string
        style: simple
      - description: Azure Graph Access Token.
        explode: false
        in: header
        name: X-AZURE-GRAPH-ACCESS-TOKEN
        required: false
        schema:
          type: string
        style: simple
      - description: Azure Tenant Id.
        explode: false
        in: header
        name: X-AZURE-TENANT-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Azure Application Key.
        explode: false
        in: header
        name: X-AZURE-APP-CLIENT-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Azure Application Secret.
        explode: false
        in: header
        name: X-AZURE-APP-CLIENT-SECRET
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AzureVirtualHubVnetConnection'
                type: array
          description: OK
        "500":
          description: Internal Server Error
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "400":
          description: Bad Request
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "404":
          description: Not Found
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "401":
          description: Unauthorized
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "403":
          description: Forbidden
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
      summary: Returns the VNet connections attached to the specified Virtual Hub.
      tags:
      - AzureSubscriptions
  /{customerId}/{siteId}/catalogs:
    get:
      operationId: GetCustomerCatalogs
      parameters:
      - description: Specific customerId to retrieve catalogs for
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - description: The site ID of the customer
        explode: false
        in: path
        name: siteId
        required: true
        schema:
          type: string
        style: simple
      - description: Indicates if we should only return a list of the catalog ids
        explode: true
        in: query
        name: catalogIdsOnly
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: The Transaction Id.
        explode: false
        in: header
        name: Citrix-TransactionId
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCatalogOverviewsModel'
          description: OK
        "500":
          description: Internal Server Error
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "400":
          description: Bad Request
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "404":
          description: Not Found
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "401":
          description: Unauthorized
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "403":
          description: Forbidden
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
      summary: Returns all the catalogs that the specified customer has created
      tags:
      - Catalog
  /{customerId}/{siteId}/managedcatalogs:
    get:
      operationId: GetCustomerManagedCatalogs
      parameters:
      - description: Specific customerId to retrieve catalogs for
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - description: The site ID of the customer
        explode: false
        in: path
        name: siteId
        required: true
        schema:
          type: string
        style: simple
      - description: Name of tenant customer ID if partner-tenant relationship exists
          otherwise null
        explode: true
        in: query
        name: cspCustomerId
        required: false
        schema:
          type: string
        style: form
      - description: Name of tenant site ID if partner-tenant relationship exists
          otherwise null
        explode: true
        in: query
        name: cspSiteId
        required: false
        schema:
          type: string
        style: form
      - description: The Transaction Id.
        explode: false
        in: header
        name: Citrix-TransactionId
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerManagedCatalogOverviewsModel'
          description: OK
        "500":
          description: Internal Server Error
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "400":
          description: Bad Request
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "404":
          description: Not Found
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "401":
          description: Unauthorized
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "403":
          description: Forbidden
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
      summary: Returns all the catalogs that the specified Citrix managed customer
        has created
      tags:
      - Catalog
  /{customerId}/{siteId}/managedcatalogs/{catalogId}:
    get:
      operationId: GetCustomerManagedCatalogsById
      parameters:
      - description: Specific customerId to retrieve catalogs for
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - description: The site ID of the customer
        explode: false
        in: path
        name: siteId
        required: true
        schema:
          type: string
        style: simple
      - description: The catalog ids for which to get the status
        explode: false
        in: path
        name: catalogId
        required: true
        schema:
          type: string
        style: simple
      - description: The Transaction Id.
        explode: false
        in: header
        name: Citrix-TransactionId
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogOverview'
          description: OK
        "500":
          description: Internal Server Error
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "400":
          description: Bad Request
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "404":
          description: Not Found
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "401":
          description: Unauthorized
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "403":
          description: Forbidden
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
      summary: Returns all the catalogs that the specified Citrix managed customer
        has created
      tags:
      - Catalog
  /{customerId}/{siteId}/catalogs/{catalogId}:
    delete:
      operationId: DeleteCustomerCatalog
      parameters:
      - description: ID of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: siteId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the catalog to be deleted
        explode: false
        in: path
        name: catalogId
        required: true
        schema:
          type: string
        style: simple
      - description: The Transaction Id.
        explode: false
        in: header
        name: Citrix-TransactionId
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/DeleteCatalogModel'
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/DeleteCatalogModel'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/DeleteCatalogModel'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/DeleteCatalogModel'
        description: Configuration for deleting the catalog
      responses:
        "200":
          description: OK
        "500":
          description: Internal Server Error
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "400":
          description: Bad Request
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "404":
          description: Not Found
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "401":
          description: Unauthorized
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "403":
          description: Forbidden
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "204":
          description: No Content
      summary: Delete a catalog along with all the pubhishd apps for the catalog
      tags:
      - Catalog
    get:
      operationId: GetCustomerCatalog
      parameters:
      - description: Specific customerId to retrieve catalog for
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: siteId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the catalog to retrieve
        explode: false
        in: path
        name: catalogId
        required: true
        schema:
          type: string
        style: simple
      - description: The Transaction Id.
        explode: false
        in: header
        name: Citrix-TransactionId
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogOverview'
          description: OK
        "500":
          description: Internal Server Error
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "400":
          description: Bad Request
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "404":
          description: Not Found
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "401":
          description: Unauthorized
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "403":
          description: Forbidden
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
      summary: Returns a specific catalog for a specific customer
      tags:
      - Catalog
  /{customerId}/{siteId}/catalogs/{catalogId}/capacity:
    get:
      operationId: GetCatalogCapacityConfiguration
      parameters:
      - description: ID of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: siteId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the catalog
        explode: false
        in: path
        name: catalogId
        required: true
        schema:
          type: string
        style: simple
      - description: The Transaction Id.
        explode: false
        in: header
        name: Citrix-TransactionId
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogCapacitySettingsModel'
          description: OK
        "500":
          description: Internal Server Error
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "400":
          description: Bad Request
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "404":
          description: Not Found
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "401":
          description: Unauthorized
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "403":
          description: Forbidden
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
      summary: Get the performance information configured for this catalog
      tags:
      - Catalog
    patch:
      operationId: UpdateCatalogScaleConfiguration
      parameters:
      - description: ID of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: siteId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the catalog
        explode: false
        in: path
        name: catalogId
        required: true
        schema:
          type: string
        style: simple
      - description: The Transaction Id.
        explode: false
        in: header
        name: Citrix-TransactionId
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CatalogCapacitySettingsModel'
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CatalogCapacitySettingsModel'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CatalogCapacitySettingsModel'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CatalogCapacitySettingsModel'
        description: Capacity informaton for this catalog
      responses:
        "200":
          description: OK
        "500":
          description: Internal Server Error
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "400":
          description: Bad Request
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "404":
          description: Not Found
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "401":
          description: Unauthorized
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "403":
          description: Forbidden
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "204":
          description: No Content
      summary: Update the performance information configured for this catalog
      tags:
      - Catalog
  /{customerId}/{siteId}/catalogs/$manageddeploy:
    post:
      operationId: ConfigureAndDeployCitrixManagedCatalogApi
      parameters:
      - description: ID of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - description: The site ID of the customer
        explode: false
        in: path
        name: siteId
        required: true
        schema:
          type: string
        style: simple
      - description: The Transaction Id.
        explode: false
        in: header
        name: Citrix-TransactionId
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CitrixManagedCatalogConfigDeployModel'
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CitrixManagedCatalogConfigDeployModel'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CitrixManagedCatalogConfigDeployModel'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CitrixManagedCatalogConfigDeployModel'
        description: The configuration of the catalog
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
        "500":
          description: Internal Server Error
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "400":
          description: Bad Request
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "404":
          description: Not Found
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "401":
          description: Unauthorized
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "403":
          description: Forbidden
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "202":
          description: Accepted
      summary: Configure all the Citrix managed catalog deployment steps and initiate
        the catalog deployment
      tags:
      - Catalog
  /{customerId}/{siteId}/catalogs/remotePc:
    post:
      operationId: CreateRemotePcCatalog
      parameters:
      - description: ID of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - description: The site ID of the customer
        explode: false
        in: path
        name: siteId
        required: true
        schema:
          type: string
        style: simple
      - description: The Transaction Id.
        explode: false
        in: header
        name: Citrix-TransactionId
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AddRemotePcCatalog'
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AddRemotePcCatalog'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AddRemotePcCatalog'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AddRemotePcCatalog'
        description: The configuration of the catalog
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
        "500":
          description: Internal Server Error
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "400":
          description: Bad Request
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "404":
          description: Not Found
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "401":
          description: Unauthorized
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "403":
          description: Forbidden
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "202":
          description: Accepted
      summary: Create a Remote PC catalog.
      tags:
      - Catalog
  /{customerId}/{siteId}/catalogs/{catalogId}/machinesassignments:
    post:
      operationId: AddRemotePcCatalogMachineAssignments
      parameters:
      - description: ID of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - description: The site ID of the customer
        explode: false
        in: path
        name: siteId
        required: true
        schema:
          type: string
        style: simple
      - description: Id of the catalog to add machines to.
        explode: false
        in: path
        name: catalogId
        required: true
        schema:
          type: string
        style: simple
      - description: The Transaction Id.
        explode: false
        in: header
        name: Citrix-TransactionId
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AddCatalogMachineAssignments'
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AddCatalogMachineAssignments'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AddCatalogMachineAssignments'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AddCatalogMachineAssignments'
        description: The configuration of the machines to add.
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
        "500":
          description: Internal Server Error
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "400":
          description: Bad Request
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "404":
          description: Not Found
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "401":
          description: Unauthorized
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "403":
          description: Forbidden
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "202":
          description: Accepted
      summary: "Add machine assignments to a remote pc catalog.\r\nNew machines will\
        \ be added to the catalog with the specified users\r\nExisting machines will\
        \ be updated with the included assignments"
      tags:
      - Catalog
  /{customerId}/{siteId}/catalogs/{catalogId}/scopes:
    put:
      operationId: UpdateRemotePcCatalogScopes
      parameters:
      - description: ID of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - description: The site ID of the customer
        explode: false
        in: path
        name: siteId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: catalogId
        required: true
        schema:
          type: string
        style: simple
      - description: The Transaction Id.
        explode: false
        in: header
        name: Citrix-TransactionId
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/UpdateRemotePcCatalogScopesModel'
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/UpdateRemotePcCatalogScopesModel'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/UpdateRemotePcCatalogScopesModel'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/UpdateRemotePcCatalogScopesModel'
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
        "500":
          description: Internal Server Error
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "400":
          description: Bad Request
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "404":
          description: Not Found
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "401":
          description: Unauthorized
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "403":
          description: Forbidden
          headers:
            citrix-transactionid:
              description: Globally-unique identifier (usually a GUID) that allows
                the flow of a call to be traced through all components within the
                system.
              explode: false
              style: simple
            content-type:
              description: Tells the type of the content in the request body.
              explode: false
              style: simple
            cache-control:
              description: Holds directives for caching response.
              explode: false
              style: simple
            x-content-type-options:
              description: Marker used by the server to indicate that the MIME types
                advertised in the Content-Type headers should not be changed and be
                followed.
              explode: false
              style: simple
        "202":
          description: Accepted
      summary: Configure all the Citrix managed catalog deployment steps and initiate
        the catalog deployment
      tags:
      - Catalog
  /{customerId}/{siteId}/catalogs/{catalogId}/$updateImage:
    post:
      operationId: UpdateCatalogImageApi
      parameters:
      - description: ID of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - description: The site ID of the customer
        explode: false
        in: path
        name: siteId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the catalog to deploy
        explode: false
        in: path
        name: catalogId
        required: true
        schema:
          type: string
        style: simple
      - description: The Transaction Id.
        explode: false
        in: header
        name: Citrix-TransactionId
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/UpdateCatalogTemplateImageModel'
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/UpdateCatalogTemplateImageModel'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/UpdateCatalogTemplateImageModel'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/UpdateCatalogTemplateImageModel'
        description: Details of the image to update to
      responses:
        "200":
          content:
[...]
